@if (!inicializado)
{
    <Cargando />
}
else
{
    <hr />
    <h5>
        <span class="oi oi-cart" aria-hidden="true"></span>
        Marketing
    </h5>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Número de empleados</label>
                <div>
                    <InputNumber class="form-control" @bind-Value="@Item.Empleados" />
                    <ValidationMessage For="@(() => Item.Empleados)" />
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Volumen facturación:</label>
                <div>
                    <InputNumber class="form-control" @bind-Value="@Item.ValorFacturacion" />
                    <ValidationMessage For="@(() => Item.ValorFacturacion)" />
                </div>
            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-sm-6">
            <ListadoGenerico Listado="Item.Persona.Sectores">
                <NoHayRegistros>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><span class="oi oi-tags" aria-hidden="true"></span> Sectores</th>
                            </tr>
                        </thead>
                    </table>
                    <br />
                    <text>No hay registros para mostrar</text>
                </NoHayRegistros>
                <HayRegistros>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><span class="oi oi-tags" aria-hidden="true"></span> Sectores</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Item.Persona.Sectores.OrderBy(x => x.Descripcion))
                                {
                                <tr>
                                    <td>@item.Descripcion</td>
                                    <td><a @onclick="@(() => EliminarSector(item))" @onclick:stopPropagation="true"><span class="oi oi-trash" aria-hidden="true"></span></a></td>
                                </tr>
                                }
                        </tbody>
                    </table>
                </HayRegistros>
            </ListadoGenerico>
        </div>
        <div class="col-sm-6">
            <ListadoGenerico Listado="Item.Servicios">
                <NoHayRegistros>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><span class="oi oi-target" aria-hidden="true"></span> Servicios</th>
                            </tr>
                        </thead>
                    </table>
                    <br />
                    <text>No hay registros para mostrar</text>
                </NoHayRegistros>
                <HayRegistros>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><span class="oi oi-target" aria-hidden="true"></span> Servicios</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Item.Servicios.OrderBy(x => x.Descripcion))
                                {
                                <tr>
                                    <td>@item.Descripcion</td>
                                    <td><a @onclick="@(() => EliminarServicio(item))" @onclick:stopPropagation="true"><span class="oi oi-trash" aria-hidden="true"></span></a></td>
                                </tr>
                                }
                        </tbody>
                    </table>
                </HayRegistros>
            </ListadoGenerico>
        </div>
    </div>


}



@code {
    [Parameter] public ClienteDTO Item { get; set; }

    private bool inicializado = false;

    protected async override Task OnInitializedAsync()
    {
        inicializado = true;
    }

    private async Task AddItem()
    {

    }

    private void EliminarSector(SectorDTO item)
    {

    }

    private void EliminarServicio(ServicioDTO item)
    {

    }

}
