@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes

@if (!inicializado)
{
    <Cargando />
}
else
{
    <EditForm Model="Item" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-sm-12 col-lg-8 col-xl-6">

                @if (ModoEdicion)
                {
                    <div class="form-inline">
                        <div>
                            <InputCheckbox class="form-control" @bind-Value="@Item.Activo" />
                            <ValidationMessage For="@(() => Item.Activo)" />
                        </div>
                        &nbsp; <label>País activo</label>
                    </div>
                }

                <div class="form-group">
                    <label>Nombre:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Item.Nombre" />
                        <ValidationMessage For="@(() => Item.Nombre)" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Idioma:</label>
                    <div>
                        <select class="form-control mb-2 mr-sm-2" @bind="@Item.Idioma.Id">
                            @foreach (var idioma in idiomas)
                            {
                                <option value="@idioma.Id">@idioma.Descripcion</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </EditForm>
}

@code {
    [Parameter] public PaisDTO Item { get; set; }
    [Parameter] public Boolean ModoEdicion { get; set; } = false;
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private bool inicializado = false;

    private List<IdiomaDTO> idiomas;

    protected async override Task OnInitializedAsync()
    {
        await CargarIdiomas();

        inicializado = true;
    }

    private async Task CargarIdiomas()
    {
        var httpResponse = await repositorio.Get<List<IdiomaDTO>>($"api/idiomas/lista/{Item.Idioma.Id}");

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            idiomas = httpResponse.Response;
        }
    }
}